In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import qrcode
import fillingpatterns as fp

sns.set_theme(style="whitegrid")
custom_params = {"axes.spines.right": False, "axes.spines.top": False}
sns.set_theme(style="ticks", rc=custom_params)
#sns.set(font='Adobe Devanagari')
sns.set_context("paper", font_scale=0.8, rc={"lines.linewidth": 0.2, "grid.linewidth": 0.1})


matplotlib.rcParams['mathtext.fontset'] = 'cm'
matplotlib.rcParams['font.family'] = 'STIXGeneral'
# Not italized latex
matplotlib.rcParams['mathtext.default'] = 'regular'
matplotlib.rcParams["font.weight"] = "light"

%config InlineBackend.figure_format='svg'

In [2]:
# To add QR codes to plot
def add_QR_code(fig, link):
    # Add QR code pointing to the github repository
    qr = qrcode.QRCode(
        # version=None,
        box_size=10,
        border=1,
    )
    qr.add_data(link)
    qr.make(fit=False)
    im = qr.make_image(fill_color="black", back_color="transparent")
    newax = fig.add_axes([0.9, 0.9, 0.05, 0.05], anchor="NE", zorder=1)
    newax.imshow(im, resample=False, interpolation="none", filternorm=False)
    # Add link below qrcode
    newax.plot([0, 0], [0, 0], color="white", label="link")
    text = newax.annotate(
        "lin",
        xy=(0, 300),
        xytext=(0, 300),
        fontsize=30,
        url=link,
        bbox=dict(color="white", alpha=1e-6, url=link),
        alpha=0,
    )
    # Hide X and Y axes label marks
    newax.xaxis.set_tick_params(labelbottom=False)
    newax.yaxis.set_tick_params(labelleft=False)
    # Hide X and Y axes tick marks
    newax.set_xticks([])
    newax.set_yticks([])
    newax.set_axis_off()

    return fig

In [85]:
# Get beam-beam schedule
patt = fp.FillingPattern.from_json('/afs/cern.ch/work/c/cdroin/private/example_DA_study/master_study/master_jobs/filling_scheme/25ns_2374b_2361_1730_1773_236bpi_13inj_hybrid_2INDIV_converted.json')
patt.compute_beam_beam_schedule(n_lr_per_side=24)

sched_b1 = patt.b1.bb_schedule
sched_b2 = patt.b2.bb_schedule

Computing collision schedules...
Done Beam 1
Done Beam 2

In [86]:
sched_b1

,HO partner in ALICE,# of LR in ALICE,BB partners in ALICE,Positions in ALICE,HO partner in ATLAS/CMS,# of LR in ATLAS/CMS,BB partners in ATLAS/CMS,Positions in ATLAS/CMS,HO partner in LHCB,# of LR in LHCB,BB partners in LHCB,Positions in LHCB,collides in ATLAS/CMS,collides in ALICE,collides in LHCB
12,903.0,40,"[879.0, 880.0, 881.0, 882.0, 883.0, 891.0, 892...","[-24.0, -23.0, -22.0, -21.0, -20.0, -12.0, -11...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[-12.0, -11.0, -10.0, -9.0, -8.0, -7.0, -6.0, ...",2682.0,27,"[2658.0, 2659.0, 2660.0, 2661.0, 2662.0, 2663....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",False,True,True
13,904.0,39,"[880.0, 881.0, 882.0, 883.0, 891.0, 892.0, 893...","[-24.0, -23.0, -22.0, -21.0, -13.0, -12.0, -11...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[-13.0, -12.0, -11.0, -10.0, -9.0, -8.0, -7.0,...",2683.0,26,"[2659.0, 2660.0, 2661.0, 2662.0, 2663.0, 2664....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",False,True,True
14,905.0,38,"[881.0, 882.0, 883.0, 891.0, 892.0, 893.0, 894...","[-24.0, -23.0, -22.0, -14.0, -13.0, -12.0, -11...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[-14.0, -13.0, -12.0, -11.0, -10.0, -9.0, -8.0...",2684.0,25,"[2660.0, 2661.0, 2662.0, 2663.0, 2664.0, 2665....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",False,True,True
15,906.0,37,"[882.0, 883.0, 891.0, 892.0, 893.0, 894.0, 895...","[-24.0, -23.0, -15.0, -14.0, -13.0, -12.0, -11...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[-15.0, -14.0, -13.0, -12.0, -11.0, -10.0, -9....",2685.0,24,"[2661.0, 2662.0, 2663.0, 2664.0, 2665.0, 2666....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",False,True,True
16,907.0,36,"[883.0, 891.0, 892.0, 893.0, 894.0, 895.0, 896...","[-24.0, -16.0, -15.0, -14.0, -13.0, -12.0, -11...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[-16.0, -15.0, -14.0, -13.0, -12.0, -11.0, -10...",NaN,24,"[2662.0, 2663.0, 2664.0, 2665.0, 2666.0, 2667....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395,722.0,31,"[698.0, 699.0, 700.0, 701.0, 702.0, 703.0, 704...","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",3395.0,28,"[3371.0, 3372.0, 3373.0, 3374.0, 3375.0, 3376....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",2501.0,40,"[2478.0, 2479.0, 2480.0, 2481.0, 2482.0, 2483....","[-23.0, -22.0, -21.0, -20.0, -19.0, -18.0, -17...",True,True,True
3396,723.0,30,"[699.0, 700.0, 701.0, 702.0, 703.0, 704.0, 705...","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",3396.0,27,"[3372.0, 3373.0, 3374.0, 3375.0, 3376.0, 3377....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",2502.0,41,"[2478.0, 2479.0, 2480.0, 2481.0, 2482.0, 2483....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",True,True,True
3397,724.0,29,"[700.0, 701.0, 702.0, 703.0, 704.0, 705.0, 706...","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",3397.0,26,"[3373.0, 3374.0, 3375.0, 3376.0, 3377.0, 3378....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",2503.0,41,"[2479.0, 2480.0, 2481.0, 2482.0, 2483.0, 2484....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",True,True,True
3398,725.0,28,"[701.0, 702.0, 703.0, 704.0, 705.0, 706.0, 707...","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",3398.0,25,"[3374.0, 3375.0, 3376.0, 3377.0, 3378.0, 3379....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",2504.0,41,"[2480.0, 2481.0, 2482.0, 2483.0, 2484.0, 2485....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",True,True,True
3399,726.0,27,"[702.0, 703.0, 704.0, 705.0, 706.0, 707.0, 708...","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",3399.0,24,"[3375.0, 3376.0, 3377.0, 3378.0, 3379.0, 3380....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",2505.0,41,"[2481.0, 2482.0, 2483.0, 2484.0, 2485.0, 2486....","[-24.0, -23.0, -22.0, -21.0, -20.0, -19.0, -18...",True,True,True

In [87]:
print(len(sched_b1))

2374

In [88]:
# Convert columns to tuples first
sched_b1['Positions in ALICE'] = sched_b1['Positions in ALICE'].apply(lambda x: tuple(np.array(x/3, dtype = np.int32)*3))
sched_b1['Positions in ATLAS/CMS'] = sched_b1['Positions in ATLAS/CMS'].apply(lambda x: tuple(np.array(x/3, dtype = np.int32)*3))
sched_b1['Positions in LHCB'] = sched_b1['Positions in LHCB'].apply(lambda x: tuple(np.array(x/3, dtype = np.int32)*3))

#sched_b1['Positions in ALICE'] = sched_b1['Positions in ALICE'].apply(tuple)
#sched_b1['Positions in ATLAS/CMS'] = sched_b1['Positions in ATLAS/CMS'].apply(tuple)
#sched_b1['Positions in LHCB'] = sched_b1['Positions in LHCB'].apply(tuple)

In [89]:
sched_b1

,HO partner in ALICE,# of LR in ALICE,BB partners in ALICE,Positions in ALICE,HO partner in ATLAS/CMS,# of LR in ATLAS/CMS,BB partners in ATLAS/CMS,Positions in ATLAS/CMS,HO partner in LHCB,# of LR in LHCB,BB partners in LHCB,Positions in LHCB,collides in ATLAS/CMS,collides in ALICE,collides in LHCB
12,903.0,40,"[879.0, 880.0, 881.0, 882.0, 883.0, 891.0, 892...","(-24, -21, -21, -21, -18, -12, -9, -9, -9, -6,...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","(-12, -9, -9, -9, -6, -6, -6, -3, -3, -3, 0, 0)",2682.0,27,"[2658.0, 2659.0, 2660.0, 2661.0, 2662.0, 2663....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",False,True,True
13,904.0,39,"[880.0, 881.0, 882.0, 883.0, 891.0, 892.0, 893...","(-24, -21, -21, -21, -12, -12, -9, -9, -9, -6,...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","(-12, -12, -9, -9, -9, -6, -6, -6, -3, -3, -3, 0)",2683.0,26,"[2659.0, 2660.0, 2661.0, 2662.0, 2663.0, 2664....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",False,True,True
14,905.0,38,"[881.0, 882.0, 883.0, 891.0, 892.0, 893.0, 894...","(-24, -21, -21, -12, -12, -12, -9, -9, -9, -6,...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","(-12, -12, -12, -9, -9, -9, -6, -6, -6, -3, -3...",2684.0,25,"[2660.0, 2661.0, 2662.0, 2663.0, 2664.0, 2665....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",False,True,True
15,906.0,37,"[882.0, 883.0, 891.0, 892.0, 893.0, 894.0, 895...","(-24, -21, -15, -12, -12, -12, -9, -9, -9, -6,...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","(-15, -12, -12, -12, -9, -9, -9, -6, -6, -6, -...",2685.0,24,"[2661.0, 2662.0, 2663.0, 2664.0, 2665.0, 2666....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",False,True,True
16,907.0,36,"[883.0, 891.0, 892.0, 893.0, 894.0, 895.0, 896...","(-24, -15, -15, -12, -12, -12, -9, -9, -9, -6,...",NaN,12,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","(-15, -15, -12, -12, -12, -9, -9, -9, -6, -6, ...",NaN,24,"[2662.0, 2663.0, 2664.0, 2665.0, 2666.0, 2667....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395,722.0,31,"[698.0, 699.0, 700.0, 701.0, 702.0, 703.0, 704...","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",3395.0,28,"[3371.0, 3372.0, 3373.0, 3374.0, 3375.0, 3376....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",2501.0,40,"[2478.0, 2479.0, 2480.0, 2481.0, 2482.0, 2483....","(-21, -21, -21, -18, -18, -18, -15, -15, -15, ...",True,True,True
3396,723.0,30,"[699.0, 700.0, 701.0, 702.0, 703.0, 704.0, 705...","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",3396.0,27,"[3372.0, 3373.0, 3374.0, 3375.0, 3376.0, 3377....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",2502.0,41,"[2478.0, 2479.0, 2480.0, 2481.0, 2482.0, 2483....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",True,True,True
3397,724.0,29,"[700.0, 701.0, 702.0, 703.0, 704.0, 705.0, 706...","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",3397.0,26,"[3373.0, 3374.0, 3375.0, 3376.0, 3377.0, 3378....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",2503.0,41,"[2479.0, 2480.0, 2481.0, 2482.0, 2483.0, 2484....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",True,True,True
3398,725.0,28,"[701.0, 702.0, 703.0, 704.0, 705.0, 706.0, 707...","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",3398.0,25,"[3374.0, 3375.0, 3376.0, 3377.0, 3378.0, 3379....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",2504.0,41,"[2480.0, 2481.0, 2482.0, 2483.0, 2484.0, 2485....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",True,True,True
3399,726.0,27,"[702.0, 703.0, 704.0, 705.0, 706.0, 707.0, 708...","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",3399.0,24,"[3375.0, 3376.0, 3377.0, 3378.0, 3379.0, 3380....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",2505.0,41,"[2481.0, 2482.0, 2483.0, 2484.0, 2485.0, 2486....","(-24, -21, -21, -21, -18, -18, -18, -15, -15, ...",True,True,True

In [90]:
# Find all bunches with the same schedule

# First groupy # of LR in all IPs
b1_grouped = sched_b1.groupby(['# of LR in ALICE', 'Positions in ALICE', '# of LR in ATLAS/CMS', 'Positions in ATLAS/CMS', '# of LR in LHCB', 'Positions in LHCB', 'collides in ATLAS/CMS', 'collides in ALICE', 'collides in LHCB'])
        
x = list(b1_grouped)

In [91]:
print(len(x))

1289

In [92]:
for cluster in x:
    print(len(cluster[1]))

1
2
1
2
1
2
1
2
1
2
1
2
1
2
1
1
1
1
2
1
1
1
1
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
1
1
2
2
1
1
2
2
1
1
2
2
1
1
2
2
1
1
2
2
1
2
1
1
2
2
1
2
1
1
2
2
1
2
2
1
2
2
2
2
2
2
2
2
2
2
1
1
2
1
2
2
2
1
2
3
1
2
2
1
2
2
1
2
2
1
2
2
1
2
2
1
1
1
2
1
2
2
2
1
2
3
2
1
2
2
2
1
2
3
2
2
1
2
2
2
2
1
2
2
2
2
1
2
2
2
2
1
2
2
2
2
1
2
3
2
2
1
2
2
2
2
2
1
2
2
2
2
1
2
2
2
2
1
2
2
1
2
2
2
1
2
3
2
2
1
2
2
2
1
2
3
2
2
1
2
2
2
2
1
2
3
2
2
1
2
2
2
2
1
2
3
2
2
1
2
2
2
2
1
2
3
2
2
1
2
2
2
1
2
2
2
1
2
2
1
2
2
1
2
2
1
2
2
2
1
2
2
2
1
2
3
2
2
1
2
2
1
2
2
2
1
2
2
2
1
2
3
2
2
1
2
2
2
1
2
2
2
1
2
2
2
2
2
2
2
2
1
2
2
2
2
1
2
2
2
2
2
2
1
2
2
2
2
1
2
2
2
2
2
2
1
2
2
2
2
1
2
2
2
2
2
2
1
2
2
2
2
1
2
2
2
2
2
2
1
2
2
2
2
1
2
2
2
1
2
2
2
2
1
2
2
2
1
2
2
2
2
1
2
2
2
1
2
2
1
2
2
2
1
2
2
2
2
2
2
2
1
2
2
1
2
2
2
1
2
2
2
1
2
2
2
2
2
2
2
1
2
2
1
2
2
2
1
2
2
2
1
2
2
2
2
1
2
2
2
2
2
2
2
1
2
2
1
2
2
2
1
2
2
2
1
2
2
2
1
4
2
1
2
2
1
2
2
2
1
2
2
2
2
2
2
1
2
2
2
2
1
2
2
2
2
1
2
2
2
2
1
2
2
2
2
1
2
2
2
1
2
2
2
1
2
2
2
2
2
1
2
2
2
2
2
2
2
2
1
2
3
2
2
1
2
3
2
2
1
2
3
2
2
2
1
2
3
2
2
1
2
3
2
2
1
2
1
2
3
2
3
2
1
3
2
4
2
2
2
2
2
1
2
1
2
3
2
1
1
2
3
6
2
2
2
2
2
2
1
2
1
2
3
2
2
1
1
2
3
6
2
2
2
2
2
2
2
1
2
3
2
1
3
2
4
2
2
2
2
2
2
1
2
2
2
2
1
2
2
2
2
1
2
2
2
2
1
2
2
1
2
2
2
2
2
2
2
1
1
2
3
6
2
2
2
2
2
1
2
2
2
1
2
3
2
1
3
2
4
2
2
2
2
2
2
1
2
2
2
2
2
2
2
2
1
2
2
1
2
2
2
2
2
2
2
1
1
2
3
6
2
2
2
1
2
2
3
2
1
3
2
4
2
2
2
2
2
1
2
2
2
1
1
2
2
2
2
2
2
2
1
1
2
3
6
2
2
2
1
2
2
3
2
1
3
2
4
2
2
2
2
2
1
2
2
2
1
2
2
2
2
2
2
2
1
1
2
3
6
2
2
2
1
1
2
3
2
2
3
2
1
3
2
4
2
2
2
2
2
2
1
2
2
2
1
2
3
2
3
2
1
3
2
4
2
2
2
2
2
1
2
3
2
3
2
1
3
2
4
2
2
2
2
2
1
2
3
2
2
3
1
3
2
4
2
2
2
2
2
1
2
3
2
2
3
1
3
2
4
2
2
2
2
2
1
2
3
2
2
3
2
1
3
2
4
2
2
2
2
2
1
2
3
2
3
2
1
3
2
4
2
2
2
2
2
1
2
3
2
3
2
1
3
2
4
2
2
2
2
2
2
3
2
1
3
2
4
2
2
2
2
2
2
3
2
1
3
2
4
2
2
2
2
2
2
3
2
2
1
3
2
4
2
2
3
2
2
1
3
2
4
2
1
2
3
2
2
2
2
2
1
2
3
4
2
2
2
2
2
2
1
2
3
4
2
2
2
2
2
2
1
2
3
4
2
2
2
2
2
2
1
2
3
4
2
2
2
2
2
1
2
3
2
2
1
2
3
4
2
2
2
2
2
1
2
3
2
2
1
2
3
4
2
2
2
2
2
1
2
3
2
2
1
2
3
4
2
2
2
2
2
2
1
2
3
2
1
2
3
4
2
2
2
2
2
2
1
2
3
2
1
2
3
4
2
2
2
2
2
2
2
1
2
3
2
2
2
2
2
2
2
1
1
2
3
2
6
2
2
2
1
2
3
2
2
2
2
2
2
2
1
1
2
3
2
6
2
2
2
1
2
3
2
2
2
2
2
2
1
1
2
3
6
2
2
1
2
3
2
2
1
2
3
2
2
1
2
3
2
2
1
2
3
2
2
1
2
3
2
2
2
2
2
2
2
1
2
3
2
2
2
2
2
2
1
2
3
2
2
1
2
3
4
2
2
2
2